/* css variables*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap");

:root {
  --primary-color: #000000;
  --primary-color-light: #8E7474;
  --accent-color: #FE6A6B;
  --accent-color-light: #FFE4E4;
  --accent-color-dark: #B94B4C;
  --white-color: #FAFBFC;
  --light-gray-color: #C6CBD1;
  --medium-gray-color: #959DA5;
  --dark-gray-color: #b5c4d6;
  --bg-color: #F8F8FA;
  --code-bg-color: #F0E8E8;
}

/* normalized */
html, body {
  padding: 0;
  /*margin-left: 130px;*/
  /*margin-right: 80px;*/
  margin-left: 15%;
  margin-right: 10%;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}
.nav-bar-me {
  justify-content: center;
  display: flex;
}
.nav-bar-me li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  float: left;
}

.nav-bar-me .my-name a {
  font-weight: 700;
  font-size: xx-large;
  margin-top: -1vmax;
  color: black;
}

.nav-bar-me li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #919191;
}

.nav-bar-me li a.nav-me-link:hover {
  color: black;
}

.nav-bar-me li a.me-active{
  color: black;
}

.nav-bar-me li a.nav-me-link {
  font-family: "Open Sans",sans-serif;
  font-weight: 700;
  font-size: 1.3vmax;
}

p {
  font-weight: 300;
  color: #4A4A4A;
}

a, a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

hr {
  padding: 1rem 0;
  border: 0;
  border-bottom: 1px solid var(--bg-color);
}

* {
  box-sizing: border-box;
}

/* global components */

/* typography */
.section__title {
  color: var(--primary-color);
}

/* code */
.code {
  border-radius: 3px;
  font-family: Space Mono, SFMono-Regular, Menlo,Monaco, Consolas, Liberation Mono, Courier New, monospace;
  background: var(--bg-color);
  border: 1px solid var(--code-bg-color);
  color: var(--primary-color-light);
}

.code--block {
  white-space: pre-line;
  padding: 0 1.5rem;
}

.code--inline {
  padding: 3px 6px;
  font-size: 80%;
}

/* table */
table {
  border-collapse: collapse;
  width: 100%;
  transition: color .3s ease-out;
  margin-bottom: 2rem;
}

table td, table th {
  border: 1px solid var(--code-bg-color);
  padding: 0.8rem;
  font-weight: 300;
}

table th {
  text-align: left;
  background-color: white;
  border-color: white;
  border-bottom-color: var(--code-bg-color);
}

table td:first-child {
  background-color: var(--bg-color);
  font-weight: 600;
}

/* layout */
.wrapper {
  margin: 0 auto;
  width: 70%;
}

.footer {
  text-align: center;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: x-small;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate3d(0,30px,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}